h1 {
    color: rgb(0, 225, 255);
    background-color: #bf3f4a;
    border: 1px solid black;
  }
  p {
    color: rgb(255, 0, 140);
    font-family: "Snell Roundhand", cursive;
     font-size: 30px;
     font-weight: 200;
     font-style: italic;
  }
  
  h1 {
      border-radius: 50px;
  }
  
  div {
      width: 500px;
  }
  
  h1 {
      max-width: 400px
  }
  
  h1 {
      border-width: 2px 4px 5px 4px;
  }
  
  h1 {
      border: dotted 3px #3FBFBF;
  }
  
  h1 {
      margin: 10px 20px 15px 15px;
  }
  
  h1 {
      
     font-family: "Snell Roundhand", cursive;
     font-size: 50px;
     font-weight: 300;
     font-style: italic;
  }

  